<a href="https://colab.research.google.com/github/Szapt/Proyecto-Modelos1/blob/main/02_preprocesado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = '.'
!chmod 600 ./kaggle.json
!kaggle competitions download -c udea-ai-4-eng-20252-pruebas-saber-pro-colombia

Downloading udea-ai-4-eng-20252-pruebas-saber-pro-colombia.zip to /content
  0% 0.00/29.9M [00:00<?, ?B/s]
100% 29.9M/29.9M [00:00<00:00, 1.35GB/s]

In [ ]:
!unzip udea*.zip > /dev/null

In [ ]:
!wc *.csv

   296787    296787   4716673 submission_example.csv
   296787   4565553  59185238 test.csv
   692501  10666231 143732437 train.csv
  1286075  15528571 207634348 total

In [ ]:
import pandas as pd
import numpy as np

z = pd.read_csv("train.csv")
print ("shape of loaded dataframe", z.shape)

shape of loaded dataframe (692500, 21)

In [ ]:
z.head()

,ID,PERIODO_ACADEMICO,E_PRGM_ACADEMICO,E_PRGM_DEPARTAMENTO,E_VALORMATRICULAUNIVERSIDAD,E_HORASSEMANATRABAJA,F_ESTRATOVIVIENDA,F_TIENEINTERNET,F_EDUCACIONPADRE,F_TIENELAVADORA,...,E_PRIVADO_LIBERTAD,E_PAGOMATRICULAPROPIO,F_TIENECOMPUTADOR,F_TIENEINTERNET.1,F_EDUCACIONMADRE,RENDIMIENTO_GLOBAL,INDICADOR_1,INDICADOR_2,INDICADOR_3,INDICADOR_4
0,904256,20212,ENFERMERIA,BOGOTÁ,Entre 5.5 millones y menos de 7 millones,Menos de 10 horas,Estrato 3,Si,Técnica o tecnológica incompleta,Si,...,N,No,Si,Si,Postgrado,medio-alto,0.322,0.208,0.310,0.267
1,645256,20212,DERECHO,ATLANTICO,Entre 2.5 millones y menos de 4 millones,0,Estrato 3,No,Técnica o tecnológica completa,Si,...,N,No,Si,No,Técnica o tecnológica incompleta,bajo,0.311,0.215,0.292,0.264
2,308367,20203,MERCADEO Y PUBLICIDAD,BOGOTÁ,Entre 2.5 millones y menos de 4 millones,Más de 30 horas,Estrato 3,Si,Secundaria (Bachillerato) completa,Si,...,N,No,No,Si,Secundaria (Bachillerato) completa,bajo,0.297,0.214,0.305,0.264
3,470353,20195,ADMINISTRACION DE EMPRESAS,SANTANDER,Entre 4 millones y menos de 5.5 millones,0,Estrato 4,Si,No sabe,Si,...,N,No,Si,Si,Secundaria (Bachillerato) completa,alto,0.485,0.172,0.252,0.190
4,989032,20212,PSICOLOGIA,ANTIOQUIA,Entre 2.5 millones y menos de 4 millones,Entre 21 y 30 horas,Estrato 3,Si,Primaria completa,Si,...,N,No,Si,Si,Primaria completa,medio-bajo,0.316,0.232,0.285,0.294

In [ ]:
z_copy = z.copy()

# Inspección de los datos

Revisemos si existen valores nulos y si es así, que porcentaje representan

In [ ]:
z_copy.isnull().sum()

ID                                 0
PERIODO_ACADEMICO                  0
E_PRGM_ACADEMICO                   0
E_PRGM_DEPARTAMENTO                0
E_VALORMATRICULAUNIVERSIDAD     6287
E_HORASSEMANATRABAJA           30857
F_ESTRATOVIVIENDA              32137
F_TIENEINTERNET                26629
F_EDUCACIONPADRE               23178
F_TIENELAVADORA                39773
F_TIENEAUTOMOVIL               43623
E_PRIVADO_LIBERTAD                 0
E_PAGOMATRICULAPROPIO           6498
F_TIENECOMPUTADOR              38103
F_TIENEINTERNET.1              26629
F_EDUCACIONMADRE               23664
RENDIMIENTO_GLOBAL                 0
INDICADOR_1                        0
INDICADOR_2                        0
INDICADOR_3                        0
INDICADOR_4                        0
dtype: int64

In [ ]:
z_copy.isnull().mean() * 100

ID                             0.000000
PERIODO_ACADEMICO              0.000000
E_PRGM_ACADEMICO               0.000000
E_PRGM_DEPARTAMENTO            0.000000
E_VALORMATRICULAUNIVERSIDAD    0.907870
E_HORASSEMANATRABAJA           4.455884
F_ESTRATOVIVIENDA              4.640722
F_TIENEINTERNET                3.845343
F_EDUCACIONPADRE               3.347004
F_TIENELAVADORA                5.743394
F_TIENEAUTOMOVIL               6.299350
E_PRIVADO_LIBERTAD             0.000000
E_PAGOMATRICULAPROPIO          0.938339
F_TIENECOMPUTADOR              5.502238
F_TIENEINTERNET.1              3.845343
F_EDUCACIONMADRE               3.417184
RENDIMIENTO_GLOBAL             0.000000
INDICADOR_1                    0.000000
INDICADOR_2                    0.000000
INDICADOR_3                    0.000000
INDICADOR_4                    0.000000
dtype: float64

#Limpieza de datos

### Cleaning 'E_PRIVADO_LIBERTAD' column

Como esta columna no tiene valores faltantes (NaN), simplemente reemplazamos los valores de 'Sí' y 'No' por 1 y 0, respectivamente.

In [ ]:
map_tiene = {'S': 1, 'N': 0}

z_copy['E_PRIVADO_LIBERTAD'] = z_copy['E_PRIVADO_LIBERTAD'].map(map_tiene)

In [ ]:
z_copy['E_PRIVADO_LIBERTAD'].sample(10)

554977    0
193017    0
166906    0
409738    0
605154    0
445192    0
652425    0
197599    0
222261    0
69787     0
Name: E_PRIVADO_LIBERTAD, dtype: int64

### Cleaning 'F_TIENE...' and 'E_PAGOMATRICULAPROPIO' columns

Para abordar los valores faltantes (Nan) en columnas cuyos valores son 'Sí' y 'No', las llenaremos con el string 'No_info'; con esto se busca evitar la inclusión de ruido y sesgo, dado que más del 25% de los valores son nulos.

Luego, realizamos una codificación ordinal en esas columnas, asignando valores numéricos a las categorías:

'Sí' → 1

'No' → 0

'No_info' → -1

In [ ]:
cols_tiene = [
    'F_TIENEINTERNET', 'F_TIENELAVADORA',
    'F_TIENEAUTOMOVIL', 'F_TIENECOMPUTADOR',
    'F_TIENEINTERNET.1', 'E_PAGOMATRICULAPROPIO'
]

for col in cols_tiene:
    z_copy[col] = z_copy[col].fillna('No_info')

In [ ]:
map_tiene = {'Si': 1, 'No': 0, 'No_info': -1}

for col in cols_tiene:
    z_copy[col] = z_copy[col].map(map_tiene)

Verificamos cómo se ven los cambios en el dataframe

In [ ]:
z_copy[['F_TIENEINTERNET', 'F_TIENELAVADORA',
    'F_TIENEAUTOMOVIL', 'F_TIENECOMPUTADOR',
    'F_TIENEINTERNET.1', 'E_PAGOMATRICULAPROPIO']].sample(15)

,F_TIENEINTERNET,F_TIENELAVADORA,F_TIENEAUTOMOVIL,F_TIENECOMPUTADOR,F_TIENEINTERNET.1,E_PAGOMATRICULAPROPIO
83290,1,1,1,1,1,0
453564,1,1,1,1,1,1
389085,1,1,1,1,1,0
75019,1,1,1,1,1,0
55040,1,1,0,1,1,0
224113,1,1,1,1,1,0
651123,1,1,1,1,1,1
321553,1,1,0,1,1,1
373965,1,0,0,1,1,1
574481,1,1,1,1,1,1
613734,1,1,0,1,1,1
148744,1,1,1,1,1,0
91601,0,1,0,1,0,1
302777,1,1,1,1,1,1
225137,1,1,0,1,1,0

### Cleaning 'E_VALORMATRICULAUNIVERSIDAD' column

Ahora convertiremos las descripciones textuales de los rangos monetarios en representaciones numéricas comparables. Para esto, tomaremos el promedio de los extremos del intervalo. Luego, debido a que los valores provienen de categorías, llenaremos los nulos con la moda.

Encoding de variables categóricas

In [ ]:
z_copy['E_VALORMATRICULAUNIVERSIDAD'].unique()

array(['Entre 5.5 millones y menos de 7 millones',
       'Entre 2.5 millones y menos de 4 millones',
       'Entre 4 millones y menos de 5.5 millones', 'Más de 7 millones',
       'Entre 1 millón y menos de 2.5 millones',
       'Entre 500 mil y menos de 1 millón', 'Menos de 500 mil',
       'No pagó matrícula', nan], dtype=object)

In [ ]:
z_copy['E_VALORMATRICULAUNIVERSIDAD'].head(15)

0     Entre 5.5 millones y menos de 7 millones
1     Entre 2.5 millones y menos de 4 millones
2     Entre 2.5 millones y menos de 4 millones
3     Entre 4 millones y menos de 5.5 millones
4     Entre 2.5 millones y menos de 4 millones
5                            Más de 7 millones
6     Entre 2.5 millones y menos de 4 millones
7       Entre 1 millón y menos de 2.5 millones
8     Entre 5.5 millones y menos de 7 millones
9     Entre 2.5 millones y menos de 4 millones
10      Entre 1 millón y menos de 2.5 millones
11           Entre 500 mil y menos de 1 millón
12    Entre 2.5 millones y menos de 4 millones
13                            Menos de 500 mil
14           Entre 500 mil y menos de 1 millón
Name: E_VALORMATRICULAUNIVERSIDAD, dtype: object

In [ ]:
import re
import numpy as np
import pandas as pd
import unicodedata

def convertir_rango_a_numero(valor):
    if pd.isna(valor):
        return np.nan

    texto = str(valor).lower()
    texto = ''.join(c for c in unicodedata.normalize('NFD', texto) if unicodedata.category(c) != 'Mn')

    # Caso 'No pagó matrícula'
    if "no pago" in texto:
        return 0.0

    # Buscar todas las apariciones de números con su contexto
    patrones = re.findall(r'(\d+\.?\d*)\s*(millon(?:es)?|mil)?', texto)
    numeros = []

    for num, unidad in patrones:
        n = float(num)
        if "millon" in unidad:
            n *= 1_000_000
        elif "mil" in unidad:
            n *= 1_000
        numeros.append(n)

    # Caso 'Entre X y menos de Y'
    if len(numeros) == 2:
        return np.mean(numeros)


    # Caso 'Menos de X'
    if "menos de" in texto and len(numeros) == 1:
        return numeros[0] / 2

    # Caso 'Más de X', asumimos +10% del umbral
    if "mas de" in texto and len(numeros) == 1:
        return numeros[0] * 1.1

    return np.nan

In [ ]:
z_copy['E_VALORMATRICULAUNIVERSIDAD'] = z_copy['E_VALORMATRICULAUNIVERSIDAD'].apply(convertir_rango_a_numero)

In [ ]:
z_copy['E_VALORMATRICULAUNIVERSIDAD'].head(15)

0     6250000.0
1     3250000.0
2     3250000.0
3     4750000.0
4     3250000.0
5     7700000.0
6     3250000.0
7     1750000.0
8     6250000.0
9     3250000.0
10    1750000.0
11     750000.0
12    3250000.0
13     250000.0
14     750000.0
Name: E_VALORMATRICULAUNIVERSIDAD, dtype: float64

Rellenar nulos

In [ ]:
moda = z_copy['E_VALORMATRICULAUNIVERSIDAD'].mode()[0]
z_copy['E_VALORMATRICULAUNIVERSIDAD'] = z_copy['E_VALORMATRICULAUNIVERSIDAD'].fillna(moda)

###Cleaning 'F_EDUCACIONMADRE' and 'F_EDUCACIONPADRE' column

In [ ]:
z_copy['F_EDUCACIONMADRE'].unique()

array(['Postgrado', 'Técnica o tecnológica incompleta',
       'Secundaria (Bachillerato) completa', 'Primaria completa',
       'Técnica o tecnológica completa',
       'Secundaria (Bachillerato) incompleta',
       'Educación profesional incompleta',
       'Educación profesional completa', 'Primaria incompleta', nan,
       'Ninguno', 'No Aplica', 'No sabe'], dtype=object)

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
import numpy as np

orden_educacion = [
    'sin info',
    'Primaria incompleta',
    'Primaria completa',
    'Secundaria (Bachillerato) incompleta',
    'Secundaria (Bachillerato) completa',
    'Técnica o tecnológica incompleta',
    'Técnica o tecnológica completa',
    'Educación profesional incompleta',
    'Educación profesional completa',
    'Postgrado'
]

# Reemplazar valores sin información and fill NaN
cols_to_clean = ['F_EDUCACIONMADRE', 'F_EDUCACIONPADRE']
for col in cols_to_clean:
    z_copy[col] = z_copy[col].replace(['Ninguno', 'No Aplica', 'No sabe'], 'sin info')
    z_copy[col] = z_copy[col].fillna('sin info')

# Creamos el codificador para ambas columnas, asegurando que 'sin info' sea manejado
# El parámetro 'categories' debe ser una lista de listas, una por cada columna
encoder = OrdinalEncoder(categories=[orden_educacion, orden_educacion])

# Aplicamos la codificación a ambas columnas al mismo tiempo

z_copy[cols_to_clean] = encoder.fit_transform(z_copy[cols_to_clean])

## Cleaning F_ESTRATOVIVIENDA column

In [ ]:
z_copy['F_ESTRATOVIVIENDA'] = (
    z_copy['F_ESTRATOVIVIENDA']
    .astype(str)
    .replace(r'Estrato\s*(\d+)', r'\1', regex=True)
    .replace('Sin Estrato', 0)
)

z_copy['F_ESTRATOVIVIENDA'] = pd.to_numeric(z_copy['F_ESTRATOVIVIENDA'], errors='coerce')

moda_estrato = z_copy['F_ESTRATOVIVIENDA'].mode()[0]
z_copy['F_ESTRATOVIVIENDA'] = z_copy['F_ESTRATOVIVIENDA'].fillna(moda_estrato)

z_copy['F_ESTRATOVIVIENDA'] = z_copy['F_ESTRATOVIVIENDA'].astype(int)

In [ ]:
z_copy['F_ESTRATOVIVIENDA'].unique()

array([3, 4, 5, 2, 1, 6, 0])

## Cleaning 'E_HORASSEMANATRABAJA' column
Mapeamos las 5 categorias existentes a valores numericos, posteriormente los valores nulos los reemplazamos

In [ ]:
z_copy['E_HORASSEMANATRABAJA'].unique()

array(['Menos de 10 horas', '0', 'Más de 30 horas', 'Entre 21 y 30 horas',
       'Entre 11 y 20 horas', nan], dtype=object)

In [ ]:
mapa_horas = {
    '0': 0,
    'Menos de 10 horas': 5,
    'Entre 11 y 20 horas': 15,
    'Entre 21 y 30 horas': 25,
    'Más de 30 horas': 35
}

z_copy['E_HORASSEMANATRABAJA'] = z_copy['E_HORASSEMANATRABAJA'].replace(mapa_horas)
z_copy['E_HORASSEMANATRABAJA'] = pd.to_numeric(z_copy['E_HORASSEMANATRABAJA'], errors='coerce')

mediana_horas = z_copy['E_HORASSEMANATRABAJA'].median()
z_copy['E_HORASSEMANATRABAJA'] = z_copy['E_HORASSEMANATRABAJA'].fillna(mediana_horas)

/tmp/ipython-input-3668990920.py:9: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  z_copy['E_HORASSEMANATRABAJA'] = z_copy['E_HORASSEMANATRABAJA'].replace(mapa_horas)

##  One hot encoding "Departamento" column

In [ ]:
z_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 692500 entries, 0 to 692499
Data columns (total 21 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   ID                           692500 non-null  int64
 1   PERIODO_ACADEMICO            692500 non-null  int64
 2   E_PRGM_ACADEMICO             692500 non-null  object
 3   E_PRGM_DEPARTAMENTO          692500 non-null  object
 4   E_VALORMATRICULAUNIVERSIDAD  692500 non-null  float64
 5   E_HORASSEMANATRABAJA         692500 non-null  float64
 6   F_ESTRATOVIVIENDA            692500 non-null  int64
 7   F_TIENEINTERNET              692500 non-null  int64
 8   F_EDUCACIONPADRE             692500 non-null  float64
 9   F_TIENELAVADORA              692500 non-null  int64
 10  F_TIENEAUTOMOVIL             692500 non-null  int64
 11  E_PRIVADO_LIBERTAD           692500 non-null  int64
 12  E_PAGOMATRICULAPROPIO        692500 non-null  int64
 13  F_TIENECOMPUTADOR            692500 non-null  int64
 14  F_TIENEINTERNET.1            692500 non-null  int64
 15  F_EDUCACIONMADRE             692500 non-null  float64
 16  RENDIMIENTO_GLOBAL           692500 non-null  object
 17  INDICADOR_1                  692500 non-null  float64
 18  INDICADOR_2                  692500 non-null  float64
 19  INDICADOR_3                  692500 non-null  float64
 20  INDICADOR_4                  692500 non-null  float64
dtypes: float64(8), int64(10), object(3)
memory usage: 111.0+ MB

In [ ]:
print("Forma (shape) original:", z_copy.shape)

# 1. Aplicamos One-Hot Encoding

depto_dummies = pd.get_dummies(z_copy['E_PRGM_DEPARTAMENTO'], prefix='depto').astype(int)

# 2. Unimos las nuevas columnas a nuestro DataFrame
#    Usamos pd.concat para unir 'z_copy' y 'depto_dummies' lado a lado
z_copy_codificado = pd.concat([z_copy, depto_dummies], axis=1)

Forma (shape) original: (692500, 21)

In [ ]:
z_copy_codificado.head()

,ID,PERIODO_ACADEMICO,E_PRGM_ACADEMICO,E_PRGM_DEPARTAMENTO,E_VALORMATRICULAUNIVERSIDAD,E_HORASSEMANATRABAJA,F_ESTRATOVIVIENDA,F_TIENEINTERNET,F_EDUCACIONPADRE,F_TIENELAVADORA,...,depto_NORTE SANTANDER,depto_PUTUMAYO,depto_QUINDIO,depto_RISARALDA,depto_SAN ANDRES,depto_SANTANDER,depto_SUCRE,depto_TOLIMA,depto_VALLE,depto_VAUPES
0,904256,20212,ENFERMERIA,BOGOTÁ,6250000.0,5.0,3,1,5.0,1,...,0,0,0,0,0,0,0,0,0,0
1,645256,20212,DERECHO,ATLANTICO,3250000.0,0.0,3,0,6.0,1,...,0,0,0,0,0,0,0,0,0,0
2,308367,20203,MERCADEO Y PUBLICIDAD,BOGOTÁ,3250000.0,35.0,3,1,4.0,1,...,0,0,0,0,0,0,0,0,0,0
3,470353,20195,ADMINISTRACION DE EMPRESAS,SANTANDER,4750000.0,0.0,4,1,0.0,1,...,0,0,0,0,0,1,0,0,0,0
4,989032,20212,PSICOLOGIA,ANTIOQUIA,3250000.0,25.0,3,1,2.0,1,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
z_copy_codificado.columns

Index(['ID', 'PERIODO_ACADEMICO', 'E_PRGM_ACADEMICO', 'E_PRGM_DEPARTAMENTO',
       'E_VALORMATRICULAUNIVERSIDAD', 'E_HORASSEMANATRABAJA',
       'F_ESTRATOVIVIENDA', 'F_TIENEINTERNET', 'F_EDUCACIONPADRE',
       'F_TIENELAVADORA', 'F_TIENEAUTOMOVIL', 'E_PRIVADO_LIBERTAD',
       'E_PAGOMATRICULAPROPIO', 'F_TIENECOMPUTADOR', 'F_TIENEINTERNET.1',
       'F_EDUCACIONMADRE', 'RENDIMIENTO_GLOBAL', 'INDICADOR_1', 'INDICADOR_2',
       'INDICADOR_3', 'INDICADOR_4', 'depto_AMAZONAS', 'depto_ANTIOQUIA',
       'depto_ARAUCA', 'depto_ATLANTICO', 'depto_BOGOTÁ', 'depto_BOLIVAR',
       'depto_BOYACA', 'depto_CALDAS', 'depto_CAQUETA', 'depto_CASANARE',
       'depto_CAUCA', 'depto_CESAR', 'depto_CHOCO', 'depto_CORDOBA',
       'depto_CUNDINAMARCA', 'depto_GUAVIARE', 'depto_HUILA',
       'depto_LA GUAJIRA', 'depto_MAGDALENA', 'depto_META', 'depto_NARIÑO',
       'depto_NORTE SANTANDER', 'depto_PUTUMAYO', 'depto_QUINDIO',
       'depto_RISARALDA', 'depto_SAN ANDRES', 'depto_SANTANDER', 'depto_SUCRE',
       'depto_TOLIMA', 'depto_VALLE', 'depto_VAUPES'],
      dtype='object')

#Verificamos Estado del Dataset

In [ ]:
z_copy.isnull().sum()

ID                             0
PERIODO_ACADEMICO              0
E_PRGM_ACADEMICO               0
E_PRGM_DEPARTAMENTO            0
E_VALORMATRICULAUNIVERSIDAD    0
E_HORASSEMANATRABAJA           0
F_ESTRATOVIVIENDA              0
F_TIENEINTERNET                0
F_EDUCACIONPADRE               0
F_TIENELAVADORA                0
F_TIENEAUTOMOVIL               0
E_PRIVADO_LIBERTAD             0
E_PAGOMATRICULAPROPIO          0
F_TIENECOMPUTADOR              0
F_TIENEINTERNET.1              0
F_EDUCACIONMADRE               0
RENDIMIENTO_GLOBAL             0
INDICADOR_1                    0
INDICADOR_2                    0
INDICADOR_3                    0
INDICADOR_4                    0
dtype: int64

In [ ]:
z_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 692500 entries, 0 to 692499
Data columns (total 21 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   ID                           692500 non-null  int64
 1   PERIODO_ACADEMICO            692500 non-null  int64
 2   E_PRGM_ACADEMICO             692500 non-null  object
 3   E_PRGM_DEPARTAMENTO          692500 non-null  object
 4   E_VALORMATRICULAUNIVERSIDAD  692500 non-null  float64
 5   E_HORASSEMANATRABAJA         692500 non-null  float64
 6   F_ESTRATOVIVIENDA            692500 non-null  int64
 7   F_TIENEINTERNET              692500 non-null  int64
 8   F_EDUCACIONPADRE             692500 non-null  float64
 9   F_TIENELAVADORA              692500 non-null  int64
 10  F_TIENEAUTOMOVIL             692500 non-null  int64
 11  E_PRIVADO_LIBERTAD           692500 non-null  int64
 12  E_PAGOMATRICULAPROPIO        692500 non-null  int64
 13  F_TIENECOMPUTADOR            692500 non-null  int64
 14  F_TIENEINTERNET.1            692500 non-null  int64
 15  F_EDUCACIONMADRE             692500 non-null  float64
 16  RENDIMIENTO_GLOBAL           692500 non-null  object
 17  INDICADOR_1                  692500 non-null  float64
 18  INDICADOR_2                  692500 non-null  float64
 19  INDICADOR_3                  692500 non-null  float64
 20  INDICADOR_4                  692500 non-null  float64
dtypes: float64(8), int64(10), object(3)
memory usage: 111.0+ MB